In [1]:
import yfinance as yf

In [2]:
import yfinance as yf
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# ticker = "^NSEI"  #for nifty 50
ticker = "RELIANCE.NS"
start_date = "2009-12-31"
end_date = "2024-12-13"

# Download the historical data for Nifty Index
data = yf.download(ticker, start=start_date, end=end_date)
data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS
Date,,,,,,
2009-12-31,207.036942,249.281387,250.527161,247.178421,247.784164,17542130
2010-01-04,204.179749,245.841202,249.407104,233.577728,249.407104,76646086
2010-01-05,203.268478,244.744003,262.847809,243.532516,262.847809,21392825
2010-01-06,206.552856,248.698502,250.184296,244.732574,246.846970,23691760
2010-01-07,209.979568,252.824417,254.870239,246.412659,248.698502,26197920
...,...,...,...,...,...,...
2024-12-06,1311.550049,1311.550049,1323.900024,1310.000000,1323.900024,9037514
2024-12-09,1295.150024,1295.150024,1315.000000,1293.099976,1303.000000,14650002
2024-12-10,1284.849976,1284.849976,1294.900024,1280.199951,1289.250000,16043729
2024-12-11,1278.199951,1278.199951,1290.000000,1276.050049,1285.000000,11724373
2024-12-12,1262.900024,1262.900024,1278.199951,1260.599976,1270.000000,20906813

In [4]:
data.columns

MultiIndex([('Adj Close', 'RELIANCE.NS'),
            (    'Close', 'RELIANCE.NS'),
            (     'High', 'RELIANCE.NS'),
            (      'Low', 'RELIANCE.NS'),
            (     'Open', 'RELIANCE.NS'),
            (   'Volume', 'RELIANCE.NS')],
           names=['Price', 'Ticker'])

TypeError: 'MultiIndex' object is not callable

In [10]:
# import yfinance as yf
# import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt

# ticker = "^NSEI"
# start_date = "2009-12-31"
# end_date = "2023-04-01"

# # Download the historical data for Nifty Index
# data = yf.download(ticker, start=start_date, end=end_date)

# # Resample the data on a monthly basis
# data_monthly = data.resample('M').last()

# # Calculate the monthly returns
# monthly_returns = data_monthly['Adj Close'].pct_change()

# # Convert monthly returns to a pandas DataFrame
# monthly_returns_df = pd.DataFrame(monthly_returns)

# # Pivot the DataFrame to create a matrix of monthly returns by year and month
# monthly_returns_matrix = monthly_returns_df.pivot_table(values='Adj Close', index=monthly_returns_df.index.year, columns=monthly_returns_df.index.month)

# # Set the column names to the month names
# monthly_returns_matrix.columns = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# # Calculate the sum of monthly returns for each year
# yearly_returns = monthly_returns_df.groupby(monthly_returns_df.index.year)['Adj Close'].sum()

# # Add the yearly returns to the matrix as a new column
# monthly_returns_matrix['Yearly'] = yearly_returns

# # Set the font scale
# sns.set(font_scale=1.2)

# # Plot the heatmap using seaborn
# plt.figure(figsize=(14, 12))
# sns.heatmap(monthly_returns_matrix, annot=True, cmap='RdYlGn', center=0, fmt='.2%', cbar=False)
# plt.title('Nifty Monthly and Yearly Returns by Year and Month', fontsize=20)
# plt.xlabel('Month', fontsize=14)
# plt.ylabel('Year', fontsize=14)
# plt.show()